* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: none;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    overflow: hidden;
}

main div {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

header {
    background-image: url(../images/image-product-desktop.jpg);
    background-size: 100%;
}

article {
    padding: 1.5rem 1.8rem;
    border-radius: 3px;
}

article > * {
    margin: 1rem;
}

.price {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
}

button {
    width: 90%;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    position: relative;
}

button p::before {
    content: url(../images/icon-cart.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
}

@media only screen and (max-width: 600px) {
    main {
        max-width: 320px;
        display: block;
    }

    header {
        max-width: 100%;
        height: 16rem;
        background-image: url(../images/image-product-mobile.jpg);
        background-position: contain;
        background-repeat: no-repeat;
    }
}




