@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&display=swap');


* {
    font-size: 14px;
}

main div {
    font-size: 11px; 
    text-align: center; 
}

article > *{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

section:first-child {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
}

article > h2, .price h2 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.1rem;
}

section:nth-child(3) {
    line-height: 1.8;
}

.price p {
    text-decoration-line: line-through;
}

button span {
    font-size: 1.2rem;
}

